body {
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	box-sizing: border-box;
	min-width:260px;
	color:#333;
}

.header {
	border: 5px solid #000;
	width: 35%;

}
.PassionProject {
	text-align: left;
	font-family: "sans-serif";
}
.Week1Reflection {
	text-align: left;
	font-family: "sans-serif";
	margin: auto;

}

img {
	max-width: 100%;
	display: inline-flex;
	height: auto;
	margin: auto;
}

.portrait {
	height: 800px;
	width: 300px;
}

.landscape {
	height: 300px;
	width: 800px;
}
