body {
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	min-width:260px;
	color:#333;
}

.PassionProject {
	text-align: left;
	font-family: "sans-serif";
}
.Week1Reflection {
	text-align: left;
	font-family: "sans-serif";
	margin: auto;

}
.visuals {
	display: inline;
	height: 50%;
}
img {
	max-width: 100%;
	display: block;
	height: auto;
	margin: auto;
}

.portrait {
	height: 800px;
	width: 300px;
}

.landscape {
	height: 300px;
	width: 800px;
}

.visuals {
	display: flex;
	flex-direction: row;

}