body {
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	box-sizing: border-box;
	min-width:260px;
	color:#333;
}

#image-container{
	width:100%;
	height: auto;
	display: inline-flex;
}

img {
	height: 50vh;
	width: auto;
	display: inline;
}

footer {
	display: block;
	background-color: black;
	color: white;
	font-family: monospace;
	text-align: center;

}