
html,body {
    height: 100%;
    margin: 0;
    
}
#sidebar {
    font-family: 'Rubik', sans-serif;
    font-weight: bolder;
}

#map {
    width: 100vw;
    height: 100vh;
}

.target {
    font-size: 1.5em;
}

.homebtn {
    font-size: 1.5em;
    width: 48px;
    height: 48px;
    
}

.leaflet-popup-content img {
    display: block;
    margin: 0 auto;

}

.leaflet-popup-content h1,.leaflet-popup-content p, .leaflet-popup-content blockquote  {
   text-align: center;
}

.buttoninfo {
    font-size: 1.5em;
    width: 48px;
    height: 48px;
    border: 1px solid black;

}

